.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #856088;
    cursor: pointer;
    transition: border-color 0.05s;
    margin-top: 10px;
    margin-left: 3%;
    color: black;
    border-color: #301934;
  }
  .button:hover {
    border-color: #301934;
    color: white;

  }
  .button:focus,
  .button:focus-visible {
    /* outline: 2px auto -webkit-focus-ring-color; */
    border-color: #856088;

  }