
.ad-page-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 1000px;
}

.ad-page-actions button {
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ad-page-actions button:first-child {
    background-color: #856088;
    color: white;
}

.ad-page-actions button:first-child:hover {
    background-color: #563C5C;
}

.ad-page-actions button:last-child {
    background-color: #B31B1B;
    color: white;
}

.ad-page-actions button:last-child:hover {
    background-color: #800020;
}



.ad-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .ad-title {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top:10px;
    margin-right:800px;
    padding: 10px;

  }
  
  .ad-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
  }
  
  .ad-left {
    flex: 2;
  }
  
  .ad-right {
    flex: 1;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .ad-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .ad-description {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  
  .ad-price {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
  }
  