.inputFieldContainer {
    margin-bottom: 3px;
  }

.input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }

.input:focus {
    border-color: #ff5733;
  }

.label {
  display: block;
  margin-bottom: 6px;
}


.error {
  color: red;
  font-size: 12px;
}