.ticket-form-page {
  display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  /* Контейнер для формы */
  .ticket-form-container {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    border-width: 5px;
    border-color: black;
    background-color: white;
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.1);
    width: 950px;
    text-align: left;
  }


  .ticket-form-header {
    font-size: 24px;
    margin-top: 0;
    text-align: center;
    color: #301934;
  }
  
  
  
  input[type="text"]:invalid, select:invalid {
    border-color: #e74c3c;
  }
  
  .error {
    color: #e74c3c;
    font-size: 14px;
  }
  
 
  button:disabled {
    background-color: #7a7a9d;
    cursor: not-allowed;
  }
  
  
  input:focus {
    border-color: #3c3c74;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
  }
  